// -----------------------------------------------------------------------------
// Mixins
//------------------------------------------------------------------------------
@function spacer($ratio) {
    @return $ratio * $spacer-unit;
}

// -----------------------------------------------------------------------------
// Variables
//------------------------------------------------------------------------------
$spacer-unit: (12px);

// -----------------------------------------------------------------------------
// Application Stylings
//------------------------------------------------------------------------------
nav {
    padding: 0 spacer(2);
}

.body-wrapper {
    padding: spacer(3);
}
